<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.octaq.dividefacil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".TelaPessoaVisualizacao"></activity>
        <activity android:name=".TelaPessoa" />
        <activity android:name=".TelaDespesaVisualizacao" />
        <activity android:name=".TelaDespesa" />
        <activity android:name=".TelaListagemItemDeGasto" />
        <activity
            android:name=".TelaSplash"
            android:screenOrientation="portrait"
            android:theme="@style/TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TelaPrincipal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TelaDespesaBarERestaurante"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TelaPessoaBarERestaurante"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TelaLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TelaDespesaBarERestauranteVisualizacao"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TelaPessoaBarERestauranteVisualizacao"
            android:screenOrientation="portrait" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

</manifest>